@font-face { font-family: Youth; src:url(fonts/YouthTouchDemoRegular-4VwY.ttf) }
@font-face { font-family: Lovely; src:url(fonts/LovelyHome-9aBZ.ttf) }
@font-face { font-family: Bunch; src:url(fonts/BunchBlossomsPersonalUse-0nA4.ttf) }


html {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: 'Bunch', sans-serif;
    font-weight: 800;
}

.container {
    /* border: solid 2px black; */
    height: 80vh;
    width: 80vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./image/laugh.gif');
    background-size: contain; /* image fully visiable on the screen */
    background-position: center center; /* Hor Ver */
    background-repeat: no-repeat;
    position: relative;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    background-color: rgb(243, 131, 66);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

button:hover {
    filter: brightness(95%);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.98); /* increase/decrease button size */
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

.button-repeat{
    background-color: rgb(255, 178, 78);
}

.button-subtitle {
    background-color: cornsilk;
}

.jokeText {
    font-size: 2rem;
    text-align: center;
    background-color: rgba(220, 255, 231, 0.5);
    margin-top: 2rem;
    position: absolute;
    bottom: 20%;
    padding: 5px;
}



/* Media Query: Table or Smaller */
@media screen and (max-width: 1000px){
    .container {
        background-position: 50% 10%;
        background-repeat: space;
    }
    .jokeText {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}